<div class="content">
<h1>免責事項</h1>
<p>
Trade-Note（以下、当サイト）に掲載している情報は、記載、記録、および情報の提供を目的としており、投資その他の行動を勧誘する目的で運営しているものではありません。また、当サイトに掲載されているFX会社の口座開設、利用登録は必ずお客様が納得された上で、お客様の責任のもと行ってください。<br>
登録したFX会社のFXトレードにおける損失等に関するお問い合わせには答えかねます。<br>
投資の最終決定は、お客様ご自身の判断でなさるようにお願いいたします。<br><br>

当サイトに掲載しているすべての記事、投稿、および情報やデータについて、その情報源の確実性を保証するものではありません。<br>
また、当サイトの提供情報を利用することで被った被害について、当方は一切の責任を負いません。<br>
万一、当サイトの提供情報の内容に誤りがあった場合においても当方は一切責任を負いません。<br><br>

当サイトが紹介しているFX会社のサービス情報につきましても、一部の原則固定型を除きスプレッドやスワップポイントの数値は日々変動しています。<br>
情報スペックならびに各種相場の影響を受ける値に関しては必ず各社のHP等に掲載されている最新の情報を確認の上、判断されるようお願いします。<br>
同時に当サイトは掲載情報の正確さを保証するものではありませんのであしからずご了承ください。<br><br>

尚、当サイトにおいて紹介しているFX会社並びにそのサービスやその他掲載情報は事前告知なしに修正、または削除する場合がございます。<br>
</p>
</div>
<div class="space"></div>