<div class="lp_top">
  <div class="lp_space"></div>
  <div class="lp_space"></div>
  <p class="lp_h1">トレードノートの決定版</p>
  <div class="lp_imgs">
    <i class="fas fa-chevron-right lp_none"></i>
    <img class="lp_graph_img">
    <i class="fas fa-chevron-right" id="changeBtn"></i>
  </div>
</div>

<div class="content">

  <div class="space"></div>
  <h1 class="lp_h1">取引の悩みをトレードノートで解決</h1>
  <div class="lp_content">
  <ul>
    <li>上手なエントリーができないのかも...</li>
    <li>上手な利食いができないのかも...</li>
    <li>上手な損切りができないのかも...</li>
    <li>そもそも分析ができていないかも...</li>
    <li>決めたルールが守れない...</li>
    <li>ポジポジ病を発症している...</li>
  </ul>
  
</div>