<div class="lp_top">
  <div class="lp_space"></div>
  <div class="lp_space"></div>
  <p class="lp_h1">トレードノートの決定版</p>
  <div class="lp_imgs">
    <i class="fas fa-chevron-right lp_none"></i>
    <img class="lp_graph_img">
    <i class="fas fa-chevron-right" id="changeBtn"></i>
  </div>
</div>

<div class="content">
  <div class="space"></div>

  <h1 class="lp_h1 faderight">取引の悩みをトレードノートで解決</h1>

  <div class="space"></div>
  <div class="lp_content">
    <h2 class="faderight">トレード悩み</h2>
    <ul>
      <li class="fadeleft">上手なエントリーができていないのかも...</li>
      <li class="fadeleft">上手な利食いができていないのかも...</li>
      <li class="fadeleft">上手な損切りができていないのかも...</li>
      <li class="fadeleft">そもそも分析ができていないかも...</li>
      <li class="fadeleft">決めたルールが守れない...</li>
      <li class="fadeleft">ポジポジ病を発症している...</li>
    </ul>

    <div class="space"></div>
    <h2 class="faderight">手書きのトレードノートの悩み</h2>
    <ul>
      <li class="fadeleft">画像がないから見返してもよくわからない</li>
      <li class="fadeleft">グラフ化するのが難しい</li>
      <li class="fadeleft">ひとりだとモチベーションが続かない</li>
    </ul>

    <div class="space"></div>
    <h2 class="faderight">悩みを解決するためのプラットフォーム</h2>
    <%= image_tag "trade-note.png", class: "lp_img" %>
  <div>
</div>