<div class="content">
<h1>プライバシーポリシー</h1>
<h2>個人情報保護方針</h2>
<p>
Trade-Note（以下「当サイト」）は、個人情報に関する法令を遵守し、個人情報保護の重要性の認識と取組みを徹底し、個人情報の適切な取扱いと保護を推進致します。 <br>
当サイトをご利用頂く皆様の個人情報をお預かりするにあたり、以下のとおり個人情報保護方針を定め、個人情報保護の仕組みを構築します。<br><br>

<b>1.個人情報の取得、利用</b><br>
当サイトでは、メールでのお問い合わせの際に、名前（ハンドルネーム）、メールアドレス等の個人情報をご登録いただく場合がございます。 <br>
これらの個人情報は質問に対する回答や必要な情報を電子メールなどをでご連絡する場合に利用させていただくものであり、個人情報をご提供いただく際の目的以外では利用いたしません。<br><br>

<b>2.個人情報の管理</b><br>
当サイトは、皆様の個人情報を正確かつ最新の状態に保ち、個人情報への不正アクセス・紛失・破損・改ざん・漏洩などを防止するため、セキュリティシステムの維持・管理体制の整備等の必要な措置を講じ、安全対策を実施し個人情報の厳重な管理を行ないます。<br><br>

<b>3.個人情報の第三者への開示・提供の禁止</b><br>
当サイトは、皆様からお預かりした個人情報を適切に管理し、次のいずれかに該当する場合を除き、個人情報を第三者に開示いたしません。<br><br>

・本人の了解がある場合<br>
・法令等への協力のため、開示が必要となる場合<br><br>
</p>

<h2>Cookieの取り扱いについて</h2>
<p>
<b>1.Cookie</b><br>
Cookie(クッキー)とは、ホームページを訪問したユーザーの情報を一時的の保存する仕組み、またはそのデータです。ブラウザに一時的に保存されるものであり個人を特定するデータではありません。<br><br>

<b>2.Cookieの利用目的</b><br>
広告を配信しており、これに関連して、当該第三者の広告主が当サイトを訪問したユーザーのクッキー情報等を取得し、利用している場合があります。<br>
当該第三者によって取得されたクッキー情報等は、当該第三者のプライバシーポリシーに従って取り扱われます。<br><br>

また再訪問をしていただく為にも第三者の広告主が利用しております。<br><br>

本サイトではGoogleのタグマネージャー・Googleアナリティクス等からサイト内でのユーザーの行動データを集計し、お客様に役立つFXコンテンツ作りをする為、お客様におすすめできるFX会社を紹介する為に利用しております。<br><br>

Googleアナリティクス等、グーグルが行うデータ収集や処理の仕組みについては下記リンクをご覧ください。<br><br>

<a href="https://policies.google.com/technologies/partner-sites?hl=ja">Google のサービスを使用するサイトやアプリから収集した情報の Google による使用</a><br><br>

<a href="https://marketingplatform.google.com/about/analytics/terms/jp/">Google アナリティクス利用規約</a><br><br>

<b>3.Cookieの不許可設定</b><br>
ユーザーは、当該第三者のウェブサイト内に設けられたオプトアウトページにアクセスして、当該第三者によるクッキー情報等の広告配信への利用を停止する事ができます。<br><br>

お客様がブラウザの設定でクッキーの送受信を許可している場合、ウェブサイトはユーザーのブラウザからクッキーを取得できます。なお、お客様のブラウザはプライバシー保護の為、そのウェブサイトのサーバーが送受信したクッキーのみを送信します。<br>
お客様は、クッキーの送受信に関する設定を「すべてののクッキーを許可する」「全てのクッキーを拒否する」「クッキーを送受信したらユーザーに通知する」等から選択できます。<br><br>

設定方法はブラウザにより異なります。クッキーに関する設定方法は、お使いのブラウザの「ヘルプ」メニューでご確認下さい。<br>
すべてのクッキーを拒否する設定を選択されますと、認証が必要なサービスを受けられなくなる等インターネット上の各種サービスの利用上、制約を受ける場合がありますのでご注意下さい。<br><br>

<b>4.改定</b><br>
当サイトは、本「Cookieの取扱いについて」の全部または一部を改訂する事があります。重要な変更が行われた際にはサイト上にお知らせを表示する事もございます。<br>
</div>
<div class="space"></div>