<% comments.each do |comment| %>
  <div class="comment_area" id="comment__<%= comment.id %>">
    <div>
      <p><%= comment.comment %></p>
      <p class="created_by"><%= comment.created_at.strftime('%Y/%m/%d-%H:/%M') %></p>
    </div>
    <div>
      <%= link_to '削除', post_comment_post_path(@post, comment), method: :delete, remote: true, data: { confirm: "削除しますか？" }, class: "link_to_user" %>
    </div>
  </div>
<% end %>