<div class="content">
  <h2>フォロー</h2>
  <% if @users.exists? %>
    <% @users.each do |user| %>
      <div class="follow_members">
        ・<%= link_to user.nickname, user_path(user) %>　フォロー数:<%= user.followings.count %>　/　フォロワー数: <%= user.followers.count %>
      </div>
    <% end %>
  <% else %>
    <p>ユーザーはいません</p>
  <% end %>
</div>
<div class="space"></div>