<div class="space"></div>

<div class="contain">
  <div class="container">
    <h1>登録情報の更新が完了しました</h1>
    <%= link_to "マイページ", "/users/#{current_user.nickname}", class: "btn" %>
  </div>
</div>

<div class="space"></div>