<div class="space"></div>

<div class="content">
  <div class="container">
    <h1>登録情報の更新が完了しました</h1>
    <p>
    メールをご確認のうえ認証手続きをお願いいたします。<br>
    迷惑メールフォルダに振り分けられている可能性があります。
    </p>
    <div class="space"></div>
    <%= link_to "マイページ", "/users/#{current_user.nickname}", class: "btn" %>
    <div class="space"></div>
  </div>
</div>

<div class="space"></div>