
    <div class="record">
    <% if record.images.attached? %>
      <%= link_to image_tag(record.images[0], class:"recorded_img"), record_path(record.id) %>
    <% else %>
      <%= link_to image_tag("sample.jpg", class:"recorded_img"), record_path(record.id) %>
    <% end %>
    <p class="info">
      <%= record.pair.name %> →
      <% if record.price_renge > 0 %>
        <b>利益獲得！</b>
      <% elsif record.price_renge < 0 %>
        損失
      <% else %>
        損益判定なし
      <% end %>
    </p>
    <p class="created_by">by <%= link_to record.user.nickname, "/users/#{record.user.nickname}", {class: "link_word"} %></p>
  </div>
  