<div class="post_grid">
  <% posts.each do |post| %>
    <div class="post">
      <div>
        <%= link_to post.title, post, class: "link_word post_title" %>
      </div>
      <div class="space"></div>
    </div>
  <% end %>
</div>