<div class="space"></div>

<div class="content">
  <h1>advertisement</h1>
  <% @ads.each do |ad| %>
    <p>id: <%= ad.id %></p>
    <div>
      <%= link_to (image_tag(ad.img_url)), ad.af_link %>
    </div>
  <% end %>
</div>

<div class="space"></div>