<div class="space"></div>

<div class="content">
  <div class="container">
    <h1>create ad</h1>
    <%= render partial: "shared/form_ad", locals: { ad: @ad } %>
  </div>
</div>

<div class="space"></div>