<% breadcrumb :record_edit %>

<div class="content">
  <div class="container">
    <h1>edit record</h1>
    <%= render partial: "shared/form_record", locals: { record: @record } %>
  </div>
</div>
<div class="space"></div>