<% breadcrumb :record_new %>

<div class="content">
  <div class="container">
    <h1>new record</h1>
    <%= render partial: "shared/form_record", locals: { record: @record } %>
  </div>
</div>
<div class="space"></div>