<% content_for(:body_attributes) do %>
<% end %>

<div class="space"></div>

<div class="content">

<h1>Editing Post</h1>

<%= render 'form', post: @post %>

<%= link_to 'Back', posts_path %>

</div>

<div class="space"></div>

