<div class="space"></div>

<div class="content">
<h1>記事一覧</h1>

  <% @posts.each do |post| %>
    <div>
      <%= link_to post.title, post %>
    </div>
      <div data-turbolinks="false">
    <%= link_to 'Edit', edit_post_path(post) %>
    </div>
    <div>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <div>
  <% end %>

</div>
<div class="space"></div>
