<div class="space"></div>

<div class="content">
<div class="space"></div>

<p class="title"><%= @post.title %></p>
<p>
  <%= markdown(@post.content) %>
</p>

<div class="container">

  <div class="btns">
    <%= link_to 'Edit', edit_post_path(@post), class: "btn" %>
    <%= link_to 'Back', posts_path, class: "btn" %>
  </div>

</div>

</div>

<div class="space"></div>