<div class="space"></div>

<div class="content">
<div class="space"></div>

<p class="title"><%= @post.title %></p>
<div class="markdown_content">
  <%= markdown(@post.content) %>
</div>

<div class="container">

  <div class="btns">
    <div data-turbolinks="false">
      <%= link_to 'Edit', edit_post_path(@post), class: "btn" %>
    </div>
    <div>
      <%= link_to 'Back', posts_path, class: "btn" %>
    </div>
  </div>

</div>

</div>

<div class="space"></div>