form input,
form textarea,
form select{
  width: 80%;
  margin: 5px auto 15px;
  padding: 15px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  display: block;
}

form input[type="submit"]{
  width: fit-content;
  width: -moz-fit-content;
  color: #000000;
  padding: 0.5rem 1rem;
  border: 1px solid #000000;
  border-radius: 100vh;
}

form input[type="submit"]:hover{
  border: 1px solid #ffffff;;
  background-image: -webkit-linear-gradient(20deg, #fd3838, #dbdbdb, #87ff41);
  background-image: linear-gradient(70deg, #fd3838, #dbdbdb, #87ff41);
}

.explain{
  width: 80%;
  margin: 50px auto 15px;
  display: block;
}

.indispensable {
  background: #ea352d;
  margin-left: 8px;
  padding: 3px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.error_alert{
  margin: 0 auto;
  width: fit-content;
  width: -moz-fit-content;
}

.error_message{
  color: #ea352d;
  list-style: none;
}
