// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.title{
  font-size: 1.8rem;
  margin: 1rem;
  font-weight: bold;
}

.markdown_content{
  width: 60%;
  margin: 0 auto;
}

.markdown_content img{
  max-width: 100%;
  margin: 0 auto;
}

.post_grid{
  margin-top: 40px;
  gap: 25px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(2, 1fr);
}

.post{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 25px;
  border-bottom: 1px solid #000000;
}

.post_title{
  font-weight: bold;
  font-size: 1.2rem;
}