// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.title{
  font-size: 1.8rem;
  margin: 1rem;
  font-weight: bold;
}

.markdown{
  width: 60%;
  margin: 0 auto;
}