// Place all the styles related to the records controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.grid{
  margin-top: 40px;
  gap: 25px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.record{
  width: 300px;
  display: inline-block;
}

.recorded_img{
  height: 200px;
  width: 300px;
  object-fit: cover;
}

.info{
  margin: 5px 10px 0;
  padding: 0;
}

.record_small_info{
  margin: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.created_by{
  text-align: right;
  margin-right: 10px;
  color: #777777;
  font-size: 0.8rem;
}

.link_to_user{
  color: #777777;
}

.link_to_user:hover{
  background: -webkit-linear-gradient(0deg, #fd3838, #dbdbdb, #55e900);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.record_content{
  display: flex;
  justify-content: space-around;
}

.left_content,
.right_content{
  width: 50%;
}

.recorded_img_show{
  width: 90%;
  margin: 0 auto;
}

.comment_area{
  display: flex;
  justify-content: space-between;
}

.show_content{
  width: 70%;
  margin: 0 auto;
}

.search_date{
  display: flex;
  justify-content: center;
  align-items: center;
}

table{
  width: 90%;
  margin: 0 auto;
  border-collapse: collapse;
}

table tr{
  border-bottom: solid 2px #ffffff;
}

table tr:last-child{
  border-bottom: none;
}

.date{
  position: relative;
  text-align: left;
  width: 20%;
  background-image: -webkit-linear-gradient(20deg, #fd3838, #dbdbdb, #87ff41);
  background-image: linear-gradient(70deg, #fd3838, #dbdbdb, #87ff41);
  text-align: center;
  padding: 10px 0;
}

table th:after{
  display: block;
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  top:calc(50% - 10px);
  right:-10px;
  border-left: 10px solid #87ff41;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}

.records_content{
  text-align: left;
  width: 30%;
  text-align: center;
  background-color: #eee;
  padding: 10px 0;
}