// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.catch{
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  font-size: 25px;
  padding: 1rem 3rem;
  border-radius: 100vh;
  background-image: -webkit-linear-gradient(20deg, #f86262, #dbdbdb, #b9ff90);
  background-image: linear-gradient(70deg, #f86262, #dbdbdb, #b9ff90);
}

.btns{
  display: flex;
  justify-content: space-around;
}

ul{
	list-style: none;
}

li{
	position: relative;
	padding: 0.5rem 1rem 0.5rem 3rem;
	margin-bottom:5px;
	border-bottom: 1px solid #fd3838;
}

li:after,
li:before {
	content:'';
	position: absolute;
	transform: rotate(45deg);
}

li:before {
	top: 0.7rem;
	left: 0.2rem;
	width: 12px;
	height: 12px;
	border: 2px solid #fd3838;
}

li:after {
	top: 0.9rem;
	left: 0.7rem;
	width: 14px;
	height: 14px;
  border: 3px solid #5eff00;
	transform: rotate(60deg);
}