// Place all the styles related to the static_page controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.top_img{
	width: 100%;
	height: 400px;
	object-fit: cover;
}

.catch{
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  font-size: 25px;
  padding: 1rem 3rem;
  border-radius: 100vh;
  background-image: -webkit-linear-gradient(20deg, #f86262, #dbdbdb, #b9ff90);
  background-image: linear-gradient(70deg, #f86262, #dbdbdb, #b9ff90);
}

.btns{
  display: flex;
  justify-content: space-around;
}

ul{
	list-style: none;
	margin-top: 25px;
	margin-bottom: 25px;
}

li{
	position: relative;
	padding: 0.5rem 1rem 0.5rem 3rem;
	margin-bottom:5px;
	border-bottom: 1px solid #fd3838;
}

li:after,
li:before {
	content:'';
	position: absolute;
	transform: rotate(45deg);
}

li:before {
	top: 1.1rem;
	left: 0.2rem;
	width: 8px;
	height: 8px;
	border: 2px solid #fd3838;
}

li:after {
	top: 1.1rem;
	left: 0.6rem;
	width: 10px;
	height: 10px;
  border: 3px solid #5eff00;
	transform: rotate(60deg);
}

.lp_top{
	height: 100vh;
  background-image: -webkit-linear-gradient(70deg, #fd3838, #dbdbdb, #87ff41);
  background-image: linear-gradient(70deg, #fd3838, #dbdbdb, #87ff41);
}

.lp_imgs{
	width: 60%;
	height: 80vh;
	margin: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.lp_none{
	opacity: 0;
}

.lp_graph_img{
	display: block;
	width: 100%;
	margin: 0 auto;
}

.fa-chevron-right{
	font-size: 50px;
	margin: 0 50px;
	color: #fd3838;
}


.lp_h1{
	font-size: 3rem;
	text-align: center;
	height: 10vh;
}

.lp_content{
	width: 60%;
	margin: 0 auto;
}

.lp_space{
	height: 5vh;
}

.lp_img{
	display: block;
	width: 95%;
	margin: 0 auto;
	border: 10px solid #000000;
	border-radius: 10px;
}

.cation{
	font-size: 0.7rem;
	color: #656869;
	text-align: right;
}

.lp_catch{
  width: fit-content;
  width: -moz-fit-content;
  margin: 0 auto;
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 100vh;
  background-image: -webkit-linear-gradient(20deg, #f86262, #dbdbdb, #b9ff90);
  background-image: linear-gradient(70deg, #f86262, #dbdbdb, #b9ff90);
}

.fadein{
  opacity: 0;
  transform: translateY(100px);
  transition: all 1.5s;
}

.faderight{
  opacity: 0;
  transform: translateX(100px);
  transition: all 1.5s;
}

.fadeleft{
  opacity: 0;
  transform: translateX(-100px);
  transition: all 1.5s;
}

@media screen and (max-width: 767px){

	.catch{
		font-size: 20px;
	}
	
	.btns{
		flex-direction: column;
	}

	.lp_h1{
		font-size: 1.5rem;
		font-weight: bold;
	}

	.lp_none{
		display: none;
		font-size: 1px;
	}

	.lp_imgs{
		width: 90%;
		justify-content: center;
		flex-direction: column;
	}

	.lp_content{
		width: 100%;
	}

	}