// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.pair_rate{
  display: flex;
  overflow: auto;
}

.data_info{
  text-align: center;
}

.pair_graph{
  width: 300px;
}