<h1>メールアドレス認証</h1>

<p><%= @email %> 様</p>

<p>
こちらTrade-Note運営です。<br>
メールアドレス認証をおこないますので、以下のリンクをクリックして手続きを完了して下さい。
</p>

<p><%= link_to 'メールの認証をする', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>
【このメールにお心当たりのない方】<br>
どなたかが間違ってアドレスを入力した可能性がございます。<br>
お心当たりのない場合はメールの削除をお願いいたします。<br>
</p>

<p>
Copyright © 2021 Trade-Note All Rights Reserved.
</p>

