<h1>パスワードの再設定及び編集</h1>

<p><%= @email %> 様</p>

<p>
こちらTrade-Note運営です。<br>
パスワードの再設定及び編集をおこないますので、以下のリンクをクリックして手続きを完了して下さい。
</p>

<p><%= link_to 'パスワードの再設定、編集', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>
【このメールにお心当たりのない方】<br>
どなたかが間違ってアドレスを入力した可能性がございます。<br>
お心当たりのない場合はメールの削除をお願いいたします。<br>
</p>

<p>
Copyright © 2021 Trade-Note All Rights Reserved.
</p>